In [ ]:
'''
1. Please find the 3rd highest salary from the emp_card table without using with cte but using sub query
'''
%pip install cx_Oracle
import cx_Oracle

dsn_tns=cx_Oracle.makedsn('localhost','1521',service_name='orcl')
conn=cx_Oracle.connect(user='sivaacademy',password='securecode',dsn=dsn_tns)
cursor=conn.cursor()

cursor.execute('''
create table emp_card (
    EmpId number,
    Project varchar2(10),
    Salary number,
    Variable number
)
''')

cursor.execute('''
insert into emp_card (EmpId, Project, Salary, Variable) values (121, 'P1', 8000, 500)
''')
cursor.execute('''
insert into emp_card (EmpId, Project, Salary, Variable) values (321, 'P2', 10000, 1000)
''')
cursor.execute('''
insert into emp_card (EmpId, Project, Salary, Variable) values (421, 'P1', 12000, 0)
''')
conn.commit()

Defaulting to user installation because normal site-packages is not writeable
Collecting cx_Oracle
  Using cached cx_Oracle-8.3.0.tar.gz (363 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: cx_Oracle
  Building wheel for cx_Oracle (pyproject.toml): started
  Building wheel for cx_Oracle (pyproject.toml): finished with status 'done'
  Created wheel for cx_Oracle: filename=cx_oracle-8.3.0-cp313-cp313-win_amd64.whl size=224026 sha256=30757fd5f0f5af44c7754a50034e854f026484491147762dda6bd4bda480c90b
  Stored in directory: c:\users\khila\appdata\local\pip\cache\wheels\51\d5\df\61146784a04f4192f24a4ae0d3795d8016e8bea735f768e2e1
Successfully built cx_Oracle
Installing collected packages: cx_Oracle
Successfully installed cx_Oracle-8.3.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#1. Please find the 3rd highest salary from the emp_card table without using with cte but using sub query
import cx_Oracle

dsn_tns=cx_Oracle.makedsn('localhost','1521',service_name='orcl')
conn=cx_Oracle.connect(user='sivaacademy',password='securecode',dsn=dsn_tns)
cursor=conn.cursor()

cursor.execute('''select * from emp_card''')
print(cursor.fetchall())

# Find the 3rd highest salary using a subquery
query = '''
SELECT MIN(Salary) AS ThirdHighestSalary
FROM (
    SELECT Salary
    FROM emp_card
    ORDER BY Salary DESC
)
WHERE ROWNUM <= 3
'''
cursor.execute(query)
result = cursor.fetchone()
print("3rd Highest Salary:", result[0])

[(121, 'P1', 8000, 500), (321, 'P2', 10000, 1000), (421, 'P1', 12000, 0)]
3rd Highest Salary: 8000

In [6]:
'''
2. Convert this input into output

Input:
ID	ITEM_NAME	TOTAL_COUNT
1	water bottle	2
2	tent	1
3	apple	4
 
Expected Output:
ID	ITEM_NAME
1	water bottle
1	water bottle
2	tent
3	apple
3	apple
3	apple
3	apple
'''


# Use the existing connection and cursor
import cx_Oracle
dsn_tns=cx_Oracle.makedsn('localhost','1521',service_name='orcl')
conn=cx_Oracle.connect(user='sivaacademy',password='securecode',dsn=dsn_tns)
cursor=conn.cursor()
# cursor.execute('''create table item (
#     ID number,
#     ITEM_NAME varchar2(50),
#     TOTAL_COUNT number
# )
# ''')

# cursor.execute('''
# insert into item (ID, ITEM_NAME, TOTAL_COUNT) values (1, 'water bottle', 2)
# ''')
# cursor.execute('''
# insert into item (ID, ITEM_NAME, TOTAL_COUNT) values (2, 'tent', 1)
# ''')
# cursor.execute('''
# insert into item (ID, ITEM_NAME, TOTAL_COUNT) values (3, 'apple', 4)
# ''')
# conn.commit()

cursor.execute('''select ID, ITEM_NAME, TOTAL_COUNT from item''')
rows = cursor.fetchall()
print(rows)

cursor.execute('''
SELECT ID, ITEM_NAME
FROM item, (SELECT LEVEL as L FROM dual CONNECT BY LEVEL <= (SELECT MAX(TOTAL_COUNT) FROM item))
WHERE L <= TOTAL_COUNT
ORDER BY ID
''')
# This query generates the required number of rows for each item based on the TOTAL_COUNT.
# The subquery (SELECT LEVEL as L FROM dual CONNECT BY LEVEL <= (SELECT MAX(TOTAL_COUNT) FROM item)) generates a series of numbers from 1 to the maximum TOTAL_COUNT in the item table.
# The main query joins the item table with this series of numbers.
# The WHERE clause ensures that only the required number of rows for each item is selected.
# The ORDER BY clause sorts the output by ID.

rows = cursor.fetchall()
for row in rows:
    print(row)

[(1, 'water bottle', 2), (2, 'tent', 1), (3, 'apple', 4)]
(1, 'water bottle')
(1, 'water bottle')
(2, 'tent')
(3, 'apple')
(3, 'apple')
(3, 'apple')
(3, 'apple')

In [ ]:
'''
3. Please write a python code to remove duplicate with and without using set function
l=[2,3,4,4,4,5,6,7]
'''
l=[2,3,4,4,4,5,6,7]
print(list(set(l)))

l=[2,3,4,4,4,5,6,7]
l2=[]
for i in range(len(l)-1):
    if l[i] != l[i+1]:
        l2 = l2 + [l[i]]  # l2.append(l[i]) 
        # We can't use l2 = l2 + l[i] because l[i] is an integer, and we need to add it as a list element.
l2.append(l[-1])  # Append the last element
print(l2)

[2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7]

In [6]:
'''
4. Please write a python code to find the uppercase letter and count it with using ibuild function and without using inbuild function
s="Abcd"
'''
s="AbcdEfGG"
a=[i for i in s if i.isupper()]
print(a)
print(len(a))

# using regular expression
import re
s="AbcdEfGG"

# The 'r' before the string denotes a raw string, which tells Python not to handle backslashes as escape characters.
a=re.findall(r'[A-Z]', s)
print(a)
print(len(a))

# re.search() is used to find the first occurrence of the pattern in the string, 
# while re.findall() finds all occurrences of the pattern and returns them as a list.
# Therefore, re.search() cannot be used here as it will only return the first uppercase letter.

# without using inbuild function
s="AbcdEfGG"
count=0
uppercase_letters = []
for i in s:
    if i>='A' and i<='Z':
        count+=1
        uppercase_letters.append(i)
print(uppercase_letters)
print(count)

['A', 'E', 'G', 'G']
4
['A', 'E', 'G', 'G']
4
['A', 'E', 'G', 'G']
4

In [8]:
'''
5. Please write a python code to find the reverse of the string with and without using inbuild function
s="Abcd"
'''
s="Abcd"
print(s[::-1])

# without using inbuild function

s = "Abcd"
s2 = ''
# Iterate over the string in reverse order using range
for i in range(len(s) - 1, -1, -1):
    s2 += s[i]
print(s2)

# Alternatively, we can use the reversed() function to reverse the string
s = "Abcd"
for i in reversed(s):
    print(i, end='')

s = "Abcd"
l = list(s)
for i in reversed (l):
    print(i, end='')

dcbA
dcbA
dcbAdcbA

In [11]:
# Write this list as flatten list
# Input: [[1,2,3],[4,5],[6,7,8]]
# Output: [1,2,3,4,5,6,7,8]
l = [[1,2,3],[4,5],[6,7,8]]
l1= [1,[2,[3,4,5],6,7],8]
l2 = []
for i in l:
    l2 += i
print(l2)
# Flatten l1
def flatten_list(l):
    flat = []
    for i in l:
        if isinstance(i, list):
            flat.extend(flatten_list(i)) # we can also use flat += flatten_list(i)
            #flat += flatten_list(i)
            # The extend() method adds all the elements of an iterable (list, tuple, string, etc.) to the end of the list.
            # Why we are not using append() method here because append() method adds its argument as a single element to the end of a list.
        else:
            flat.append(i)
    return flat

print(flatten_list(l1))

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

In [2]:
# Write this list as reversed in nested list
# Input: [[1,2,3],[4,5],[6,7,8]]
# Output: [[3,2,1],[5,4],[8,7,6]]
l = [[1,2,3],[4,5],[6,7,8]]
l2 = []
for i in l:
    l2.append(i[::-1])
print(l2)

[[3, 2, 1], [5, 4], [8, 7, 6]]

In [1]:
'''
input_string = Hello"1234%^$word4"56*(*&'
expected output. 
number = 1234456
characters = Helloword
special Char= "%^"*(*&'
'''

import re
input_string = 'Hello\"1234%^$word4\"56*(*&\''

# Extract numbers
s1 = re.sub(r"[^0-9]", '', input_string)

# Extract characters
s2 = re.sub(r"[^A-Za-z]", '', input_string)

# Extract special characters
s3 = re.sub(r"[A-Za-z0-9]", '', input_string)

print(s1,s2,s3, sep='\n') # sep='\n' is used to separate the output by a newline character and we can use end='\n' to add a newline character at the end of the print statement.

1234456
Helloword
"%^$"*(*&'