In [ ]:
# Q1: Select top purchasing customer for each store based on total purchase amount
# ctrl+/ or ctrl+shift+/ to comment all selected lines
# Columns: store_id, customer_id, purchase_amt
# Table: sales

# Sample Input:
# store_id, customer_id, purchase_amt
# 1, 101, 500
# 1, 101, 300
# 1, 102, 500
# 2, 101, 1000
# 2, 102, 900
# 3, 101, 1000
# 3, 102, 1000

# Expected Output:
# 1, 101, 800
# 2, 101, 1000
# 3, 101, 1000
# 3, 102, 1000

# PySpark Solution:
from pyspark.sql import Window
from pyspark.sql.functions import col, sum as _sum, dense_rank
from pyspark.sql import SparkSession, Row

# Step 1: Aggregate total purchase amount per customer per store
# Create Spark session
spark = SparkSession.builder.appName("TopPurchasingCustomer").getOrCreate()

# Create sample data as per the input
data = [
    Row(store_id=1, customer_id=101, purchase_amt=500),
    Row(store_id=1, customer_id=101, purchase_amt=300),
    Row(store_id=1, customer_id=102, purchase_amt=500),
    Row(store_id=2, customer_id=101, purchase_amt=1000),
    Row(store_id=2, customer_id=102, purchase_amt=900),
    Row(store_id=3, customer_id=101, purchase_amt=1000),
    Row(store_id=3, customer_id=102, purchase_amt=1000),
]

# Create DataFrame
sales_df = spark.createDataFrame(data)

agg_df = sales_df.groupBy("store_id", "customer_id").agg(_sum("purchase_amt").alias("purchase_amt"))

# Step 2: Define window to rank customers by purchase_amt within each store
window_spec = Window.partitionBy("store_id").orderBy(col("purchase_amt").desc())

# Step 3: Add rank column
ranked_df = agg_df.withColumn("rnk", dense_rank().over(window_spec))

# Step 4: Filter to get top purchasing customers per store (can be ties)
result_df = ranked_df.filter(col("rnk") == 1).select("store_id", "customer_id", "purchase_amt")
result_df.show()

# Oracle SQL Solution (for reference):
# You can run this query using cx_Oracle after setting up your connection.

import cx_Oracle
import sys

# Database connection details
dsn_tns = cx_Oracle.makedsn('localhost', 1521, service_name='orcl')
try:
    conn = cx_Oracle.connect(user='Sivaacademy', password='securecode', dsn=dsn_tns)
    cursor = conn.cursor()

    # Check Oracle version
    cursor.execute("SELECT * FROM v$version WHERE banner LIKE 'Oracle%'")
    version = cursor.fetchone()
    print(f"Oracle Version: {version[0]}")

    # Create global temporary table (compatible with Oracle 12c and later)
    cursor.execute(""" DROP TABLE sales_temp PURGE""")
    
    cursor.execute("""
        CREATE GLOBAL TEMPORARY TABLE sales_temp (
            store_id NUMBER,
            customer_id NUMBER,
            purchase_amt NUMBER
        ) ON COMMIT PRESERVE ROWS
    """)

    # Bulk insert sample data
    sample_data = [
        (1, 101, 500),
        (1, 101, 300),
        (1, 102, 500),
        (2, 101, 1000),
        (2, 102, 900),
        (3, 101, 1000),
        (3, 102, 1000)
    ]
    cursor.executemany("""
        INSERT INTO sales_temp (store_id, customer_id, purchase_amt)
        VALUES (:1, :2, :3)
    """, sample_data)

    # Commit inserts
    conn.commit()

    # Execute query
    oracle_query = """
        WITH cte AS (
            SELECT 
                store_id, 
                customer_id, 
                SUM(purchase_amt) AS purchase_amt, 
                DENSE_RANK() OVER (PARTITION BY store_id ORDER BY SUM(purchase_amt) DESC) AS rnk 
            FROM sales_temp 
            GROUP BY store_id, customer_id
        )
        SELECT store_id, customer_id, purchase_amt 
        FROM cte 
        WHERE rnk = 1
    """
    cursor.execute(oracle_query)

    # Fetch and print results
    for row in cursor:
        print(row)

except cx_Oracle.DatabaseError as e:
    error, = e.args
    print(f"Oracle Error {error.code}: {error.message}")
    sys.exit(1)
except Exception as e:
    print(f"An error occurred: {e}")
    sys.exit(1)
finally:
    cursor.close()
    conn.close()

+--------+-----------+------------+
|store_id|customer_id|purchase_amt|
+--------+-----------+------------+
|       1|        101|         800|
|       2|        101|        1000|
|       3|        101|        1000|
|       3|        102|        1000|
+--------+-----------+------------+

Oracle Version: Oracle Database 19c Enterprise Edition Release 19.0.0.0.0 - Production
(1, 101, 800)
(2, 101, 1000)
(3, 101, 1000)
(3, 102, 1000)

In [ ]:
#Q2 : Read a file and extract the fifth word from the fifth line
# Read fifth line and extract the fifth word
# And print the length of the fifth word and the word itself

with open("D:/Data_Engineer/DE_Interview/input.txt", "r") as file:
    lines = file.readlines()
#Check if file has at least 5 lines - len() to get count of lines
if len(lines) >= 5:
    #strip() removes whitespace, split() converts string to list of words
    fifth_line = lines[4].strip()
    words = fifth_line.split()
    #Check if fifth line has at least 5 words - len() for word count
    if len(words) >= 5:
        fifth_word = words[4]
        print(f"Fifth word: {fifth_word}")
        print(f"Length of fifth word: {len(fifth_word)}")
    else:
        print("Less than 5 words in line 5")
else:
    print("Less than 5 lines in the file")

# Rewrite above code in pyspark Read the text file into a DataFrame
# Read fifth line and extract the fifth word
# And print the length of the fifth word and the word itself
# Read text file into a DataFrame; each line becomes a row with a single column 'value' (string)
text_df = spark.read.text("D:/Data_Engineer/DE_Interview/input.txt")
#Select 'value' column (the text of each line), limit to first 5 rows, and collect results to driver
# - spark.read.text: Creates a DataFrame where each row is a line from the file, stored in 'value' column
# - select("value"): Picks only the 'value' column (text of each line)
# - limit(5): Restricts DataFrame to first 5 rows (lines)
# - collect(): Action that retrieves all rows as a list of Row objects to the driver (local Python)
five_line_df = text_df.select("value").limit(5).collect()

# Check if at least 5 lines exist in the collected data
# - len(five_line_df): Counts rows in the collected list (number of lines)
# - Python logic since collect() brings data to driver
if len(five_line_df) >= 5:
    # Extract the 5th line's text (index 4, as lists are 0-based) from the 'value' column
    # - five_line_df[4]: 5th Row object
    # - ["value"]: Accesses the string in the 'value' column
    fifth_line = five_line_df[4]["value"]
    
    # Split the 5th line into words using whitespace as delimiter
    # - split(): Python string method, creates list of words
    words = fifth_line.split()
    
    # Check if the 5th line has at least 5 words
    # - len(words): Counts words in the split list
    if len(words) >= 5:
        # Get the 5th word (index 4, 0-based)
        fifth_word = words[4]
        
        # Print the 5th word
        print(f"Fifth word: {fifth_word}")
        
        # Print the length of the 5th word
        # - len(fifth_word): Python string length
        print(f"Length of fifth word: {len(fifth_word)}")
    else:
        # Handle case where 5th line has fewer than 5 words
        print("Less than 5 words in line 5")
else:
    # Handle case where file has fewer than 5 lines
    print("Less than 5 lines in the file")

Fifth word: words
Length of fifth word: 5
Fifth word: words
Length of fifth word: 5

In [ ]:
#Q3. Create a pyspark program to create a json file containing Person information like first_name, last_name, age, mobile, email, address(contains street, city, state, country) and write it to a file. And handle all kinds of interview question on json file like read, write, update, delete, filter, sort, etc. write the file and read the file from the same location.
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql.functions import col, to_json, struct, concat_ws

# Define schema for Person information
person_schema = StructType([
    StructField("first_name", StringType(), False),
    StructField("last_name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("mobile", StringType(), True),
    StructField("email", StringType(), True),
    StructField("address", StructType([
        StructField("street", StringType(), True),
        StructField("city", StringType(), True),
        StructField("state", StringType(), True),
        StructField("country", StringType(), True)
    ]), True)
])

# Create sample data
data = [
    ("John", "Doe", 30, "1234567890", "john.doe@email.com",
     {"street": "123 Main St", "city": "New York", "state": "NY", "country": "USA"}),
    ("Jane", "Smith", 28, "9876543210", "jane.smith@email.com",
     {"street": "456 Oak Ave", "city": "Los Angeles", "state": "CA", "country": "USA"}),
    ("Michael", "Johnson", 35, "5551234567", "michael.j@email.com",
     {"street": "789 Pine Rd", "city": "Chicago", "state": "IL", "country": "USA"}),
    ("Sarah", "Williams", 26, "4567891230", "sarah.w@email.com",
     {"street": "321 Elm St", "city": "Houston", "state": "TX", "country": "USA"}),
    ("Robert", "Brown", 32, "7894561230", "robert.b@email.com",
     {"street": "654 Maple Dr", "city": "Phoenix", "state": "AZ", "country": "USA"}),
    ("Emily", "Davis", 29, "3216549870", "emily.d@email.com",
     {"street": "987 Cedar Ln", "city": "Miami", "state": "FL", "country": "USA"}),
    ("David", "Miller", 31, "1597534560", "david.m@email.com",
     {"street": "147 Birch Rd", "city": "Seattle", "state": "WA", "country": "USA"}),
    ("Lisa", "Wilson", 27, "3579514260", "lisa.w@email.com",
     {"street": "258 Spruce Ave", "city": "Denver", "state": "CO", "country": "USA"}),
    ("James", "Taylor", 33, "7531598520", "james.t@email.com",
     {"street": "369 Palm St", "city": "Boston", "state": "MA", "country": "USA"}),
    ("Amanda", "Anderson", 34, "9517538520", "amanda.a@email.com",
     {"street": "741 Beach Rd", "city": "San Diego", "state": "CA", "country": "USA"})
]

# Create DataFrame
person_df = spark.createDataFrame(data, schema=person_schema)

# Write to JSON file
person_df.write.mode("overwrite").json("D:/Data_Engineer/DE_Interview/person_data.json")

# Read JSON file
df_read = spark.read.json("D:/Data_Engineer/DE_Interview/person_data.json")

# Example operations:
# 1. Filter by age
filtered_df = df_read.filter(col("age") > 25)

# 2. Sort by name
sorted_df = df_read.orderBy("first_name")

# 3. Update - Add full name column
updated_df = df_read.withColumn("full_name", 
    concat_ws(" ", col("first_name"), col("last_name")))

# 4. Select specific fields
selected_df = df_read.select("first_name", "email", "address.city")

# Display results
df_read.show(truncate=False)
filtered_df.show(truncate=False)
sorted_df.show(truncate=False)
updated_df.show(truncate=False)
selected_df.show(truncate=False)

+-----------------------------------+---+--------------------+----------+---------+----------+
|address                            |age|email               |first_name|last_name|mobile    |
+-----------------------------------+---+--------------------+----------+---------+----------+
|{San Diego, USA, CA, 741 Beach Rd} |34 |amanda.a@email.com  |Amanda    |Anderson |9517538520|
|{Los Angeles, USA, CA, 456 Oak Ave}|28 |jane.smith@email.com|Jane      |Smith    |9876543210|
|{Chicago, USA, IL, 789 Pine Rd}    |35 |michael.j@email.com |Michael   |Johnson  |5551234567|
|{Phoenix, USA, AZ, 654 Maple Dr}   |32 |robert.b@email.com  |Robert    |Brown    |7894561230|
|{Houston, USA, TX, 321 Elm St}     |26 |sarah.w@email.com   |Sarah     |Williams |4567891230|
|{Seattle, USA, WA, 147 Birch Rd}   |31 |david.m@email.com   |David     |Miller   |1597534560|
|{Denver, USA, CO, 258 Spruce Ave}  |27 |lisa.w@email.com    |Lisa      |Wilson   |3579514260|
|{Boston, USA, MA, 369 Palm St}     |33 |james.t@email.com   |James     |Taylor   |7531598520|
|{New York, USA, NY, 123 Main St}   |30 |john.doe@email.com  |John      |Doe      |1234567890|
|{Miami, USA, FL, 987 Cedar Ln}     |29 |emily.d@email.com   |Emily     |Davis    |3216549870|
+-----------------------------------+---+--------------------+----------+---------+----------+

+-----------------------------------+---+--------------------+----------+---------+----------+
|address                            |age|email               |first_name|last_name|mobile    |
+-----------------------------------+---+--------------------+----------+---------+----------+
|{San Diego, USA, CA, 741 Beach Rd} |34 |amanda.a@email.com  |Amanda    |Anderson |9517538520|
|{Los Angeles, USA, CA, 456 Oak Ave}|28 |jane.smith@email.com|Jane      |Smith    |9876543210|
|{Chicago, USA, IL, 789 Pine Rd}    |35 |michael.j@email.com |Michael   |Johnson  |5551234567|
|{Phoenix, USA, AZ, 654 Maple Dr}   |32 |robert.b@email.com  |Robert    |Brown    |7894561230|
|{Houston, USA, TX, 321 Elm St}     |26 |sarah.w@email.com   |Sarah     |Williams |4567891230|
|{Seattle, USA, WA, 147 Birch Rd}   |31 |david.m@email.com   |David     |Miller   |1597534560|
|{Denver, USA, CO, 258 Spruce Ave}  |27 |lisa.w@email.com    |Lisa      |Wilson   |3579514260|
|{Boston, USA, MA, 369 Palm St}     |33 |james.t@email.com   |James     |Taylor   |7531598520|
|{New York, USA, NY, 123 Main St}   |30 |john.doe@email.com  |John      |Doe      |1234567890|
|{Miami, USA, FL, 987 Cedar Ln}     |29 |emily.d@email.com   |Emily     |Davis    |3216549870|
+-----------------------------------+---+--------------------+----------+---------+----------+

+-----------------------------------+---+--------------------+----------+---------+----------+
|address                            |age|email               |first_name|last_name|mobile    |
+-----------------------------------+---+--------------------+----------+---------+----------+
|{San Diego, USA, CA, 741 Beach Rd} |34 |amanda.a@email.com  |Amanda    |Anderson |9517538520|
|{Seattle, USA, WA, 147 Birch Rd}   |31 |david.m@email.com   |David     |Miller   |1597534560|
|{Miami, USA, FL, 987 Cedar Ln}     |29 |emily.d@email.com   |Emily     |Davis    |3216549870|
|{Boston, USA, MA, 369 Palm St}     |33 |james.t@email.com   |James     |Taylor   |7531598520|
|{Los Angeles, USA, CA, 456 Oak Ave}|28 |jane.smith@email.com|Jane      |Smith    |9876543210|
|{New York, USA, NY, 123 Main St}   |30 |john.doe@email.com  |John      |Doe      |1234567890|
|{Denver, USA, CO, 258 Spruce Ave}  |27 |lisa.w@email.com    |Lisa      |Wilson   |3579514260|
|{Chicago, USA, IL, 789 Pine Rd}    |35 |michael.j@email.com |Michael   |Johnson  |5551234567|
|{Phoenix, USA, AZ, 654 Maple Dr}   |32 |robert.b@email.com  |Robert    |Brown    |7894561230|
|{Houston, USA, TX, 321 Elm St}     |26 |sarah.w@email.com   |Sarah     |Williams |4567891230|
+-----------------------------------+---+--------------------+----------+---------+----------+

+-----------------------------------+---+--------------------+----------+---------+----------+---------------+
|address                            |age|email               |first_name|last_name|mobile    |full_name      |
+-----------------------------------+---+--------------------+----------+---------+----------+---------------+
|{San Diego, USA, CA, 741 Beach Rd} |34 |amanda.a@email.com  |Amanda    |Anderson |9517538520|Amanda Anderson|
|{Los Angeles, USA, CA, 456 Oak Ave}|28 |jane.smith@email.com|Jane      |Smith    |9876543210|Jane Smith     |
|{Chicago, USA, IL, 789 Pine Rd}    |35 |michael.j@email.com |Michael   |Johnson  |5551234567|Michael Johnson|
|{Phoenix, USA, AZ, 654 Maple Dr}   |32 |robert.b@email.com  |Robert    |Brown    |7894561230|Robert Brown   |
|{Houston, USA, TX, 321 Elm St}     |26 |sarah.w@email.com   |Sarah     |Williams |4567891230|Sarah Williams |
|{Seattle, USA, WA, 147 Birch Rd}   |31 |david.m@email.com   |David     |Miller   |1597534560|David Miller   |
|{Denver, USA, CO, 258 Spruce Ave}  |27 |lisa.w@email.com    |Lisa      |Wilson   |3579514260|Lisa Wilson    |
|{Boston, USA, MA, 369 Palm St}     |33 |james.t@email.com   |James     |Taylor   |7531598520|James Taylor   |
|{New York, USA, NY, 123 Main St}   |30 |john.doe@email.com  |John      |Doe      |1234567890|John Doe       |
|{Miami, USA, FL, 987 Cedar Ln}     |29 |emily.d@email.com   |Emily     |Davis    |3216549870|Emily Davis    |
+-----------------------------------+---+--------------------+----------+---------+----------+---------------+

+----------+--------------------+-----------+
|first_name|email               |city       |
+----------+--------------------+-----------+
|Amanda    |amanda.a@email.com  |San Diego  |
|Jane      |jane.smith@email.com|Los Angeles|
|Michael   |michael.j@email.com |Chicago    |
|Robert    |robert.b@email.com  |Phoenix    |
|Sarah     |sarah.w@email.com   |Houston    |
|David     |david.m@email.com   |Seattle    |
|Lisa      |lisa.w@email.com    |Denver     |
|James     |james.t@email.com   |Boston     |
|John      |john.doe@email.com  |New York   |
|Emily     |emily.d@email.com   |Miami      |
+----------+--------------------+-----------+